kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: /home/jdelbar/Documents/projects/bridge-rt/models
        containerPath: /models
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8080
        protocol: TCP
