apiVersion: v1
kind: Service
metadata:
  name: jaeger
  labels:
    app: detr-mmap
    component: jaeger
spec:
  type: NodePort
  selector:
    app: detr-mmap
    component: jaeger
  ports:
    - name: ui
      port: 16686
      targetPort: 16686
      nodePort: 30686
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
