apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
spec:
  template:
    spec:
      containers:
        - name: controller
          imagePullPolicy: IfNotPresent

          # Enable for development/debugging
          # stdin: true
          # tty: true
