apiVersion: apps/v1
kind: Deployment
metadata:
  name: bridge-rt
spec:
  template:
    spec:
      runtimeClassName: nvidia
      volumes:
        - name: shm-bridge
          emptyDir:
            medium: Memory
            sizeLimit: 16Mi
        - name: video-device-0
          hostPath:
            path: /dev/video0
            type: CharDevice
        - name: video-device-1
          hostPath:
            path: /dev/video1
            type: CharDevice
        - name: models
          hostPath:
            path: /models
            type: Directory

      containers:
        - name: capture
          imagePullPolicy: IfNotPresent

          # Enable for development/debugging
          # stdin: true
          # tty: true

        - name: inference
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              nvidia.com/gpu: 1

          # Enable for development/debugging
          # stdin: true
          # tty: true

        - name: gateway
          imagePullPolicy: IfNotPresent
