apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference
spec:
  template:
    spec:
      runtimeClassName: nvidia
      containers:
        - name: inference
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              nvidia.com/gpu: 1

          # Enable for development/debugging
          # stdin: true
          # tty: true
