[package]
name = "inference"
version = "0.1.0"
edition = "2024"

[dependencies]
schema = { path = "../schema" }
bridge = { path = "../bridge" }
common = { path = "../common" }
ort = { version = "2.0.0-rc.10" }
flatbuffers = "24.3"
memmap2 = "0.9"
anyhow = "1.0"
ndarray = "0.16"
image = "0.25"
tracing = { version = "0.1.44", default-features = false }
