apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference
spec:
  template:
    spec:
      runtimeClassName: nvidia
      containers:
        - name: inference
          env:
            - name: MODEL_PATH
              value: "/models/rfdetr_S/rfdetr.engine"
          resources:
            limits:
              nvidia.com/gpu: 1
