apiVersion: apps/v1
kind: Deployment
metadata:
  name: capture
spec:
  template:
    spec:
      containers:
        - name: capture
          imagePullPolicy: Always

          resources:
            requests:
              memory: "256Mi"
              cpu: "500m"
            limits:
              memory: "1Gi"
              cpu: "2000m"
