[package]
name = "bridge"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
libc = "0.2"
memmap2 = "0.9"
nix = { version = "0.30.1", features = ["mqueue", "time"] }
thiserror = "2.0"

[dev-dependencies]
tempfile = "3.24"
